EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_AUTH_USER=
EMAIL_AUTH_PASSWORD=
EMAIL_DEBUG=true
EMAIL_LOGGER=true
EMAIL_LAYOUT_DIR='/templates/emails/'
EMAIL_PARTIAL_DIR='/templates/emails/'
EMAIL_VIEW_PATH='/templates/emails/'
EMAIL_DEFAULT_LAYOUT='index'

SECRET_KEY_JWT="secretOrKey"


DB_MYSQL_HOST="localhost"
DB_MYSQL_PORT=3306
DB_MYSQL_USER="root"
DB_MYSQL_PASSWORD="root"
DB_MYSQL_DATABASE="nest"